### Project ###
# Development environment
dev.ipynb

# Temporary folder for data files
.temp

### VSCode ###
.vscode

### Python ###
# Byte-compiled
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json